h1 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
}
p {
    font-family: 'Lexend Deca';
    font-weight: 400;
}
.preview-card {
    display: flex;
    flex-direction: row;
}