h1 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
}
p {
    font-family: 'Lexend Deca';
    font-weight: 400;
}
.preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 200px auto 0 auto;
    width: 1000px;
}
.preview-card__item--Sedans {
    background-color: hsl(31, 77%, 52%);
}
.preview-card__item--SUVs {
    background-color: hsl(184, 100%, 22%);
}
.preview-card__item--Luxury {
    background-color: hsl(179, 100%, 13%);
}