/* Settings (collection of variables that do not generate CSS, but are applied to classes)
-----------------------------------------------------------*/
:root {
    --background-color: hsl(0, 0%, 95%);
}

/* Generic
-----------------------------------------------------------*/
* {
    /* border and padding are included in width of element */
    box-sizing: border-box;
}

/* Element style
-----------------------------------------------------------*/
body {
    background-color: var(--background-color)
}
h1 {
    color: var(--background-color);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
}

/* Object style (design patterns, such as layouts)
-----------------------------------------------------------*/
.preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 200px auto 0 auto;
    width: 1000px;
}


/* Component style
-----------------------------------------------------------*/
.preview-card__item {
    padding: 40px;
}
    background-color: hsl(31, 77%, 52%);
.preview-card__item--sedans {
}
    background-color: hsl(184, 100%, 22%);
.preview-card__item--suvs {
}
    background-color: hsl(179, 100%, 13%);
.preview-card__item--luxury {
}